<h2>Add new post</h2>
<p>
	<form action="/new" method="POST">

		<div class="form-group">
		    <input name="post[title]" type="text" class="form-control" placeholder="Type title"><br />
		</div>

		<div>
			<textarea name="post[content]" class="form-control" rows="3" placeholder="Type post text here"></textarea><br />
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</p>